<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S.P.E.C.T.R.A. - IXN Statistics</title>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Include DataTables CSS and JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <!-- Include Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    body {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          background-color: #f4f4f4;
          text-align: center;
          padding: 20px;
          margin: 0; /* Add margin to reset the default margin */
      }
        /* New style for the footer */
        footer {
          background-color: maroon;
          color: white;
          padding: 10px;
          position: fixed;
          bottom: 0;
          left: 0; /* Align the left edge with the left edge of the viewport */
          width: 100%; /* Make the footer full width */
          box-sizing: border-box; /* Include padding and border in the total width */
      }

    h1 {
      color: #800000;
      margin-bottom: 20px;
    }

    .summary-table,
    .detailed-table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background-color: #fff;
      color: #333;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .summary-table th,
    .summary-table td,
    .detailed-table th,
    .detailed-table td {
      padding: 15px;
      border: 1px solid #ddd;
      text-align: left;
    }

    .summary-table th,
    .detailed-table th {
      background-color: #800000;
      color: #fff;
    }

    .table-separator {
      border-top: 2px solid #800000;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <h1><u> IXN - {{ixn}} - Summary Report</u></h1>

  <table id="summaryTable" class="display">
    <thead>
      <tr>
        <th>Statistic</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transfer Scenarios</td>
        <td>{% if sfs_summary.summary_data.transfer_scenarios %}True{% else %}False{% endif %}</td>
      </tr>
      <tr>
          <td>Conference Cases</td>
          <td>{% if sfs_summary.summary_data.conference_cases %}True{% else %}False{% endif %}</td>
      </tr>
      <tr>
          <td>SO Cases</td>
          <td>{% if sfs_summary.summary_data.so_cases %}True{% else %}False{% endif %}</td>
      </tr>
      <tr>
        <td>SFS - IM Missing Responses </td>
        <td>{{ sfs_summary.summary_data.events_without_receiving }}</td>
      </tr>
      <tr>
        <td>IM - SFS Missing Responses </td>
        <td>{{ im_summary.im_sfs_summary_data.events_without_receiving }}</td>
      </tr>
      <tr>
        <td>Interactions-Flows Executed </td>
        <td>{{ se_summary.total_vectors }}</td>
      </tr>
    </tbody>
  </table>

  


  <h1><u>Interaction-Flow(s) Statistics</u></h1>

  <table id="interactionTable" class="display">
    <thead>
      <tr>
        <th data-sort="int">Interaction Flow ID</th>
        <th data-sort="int">IXN ID</th>
        <th data-sort="int">Number of Breaks</th>
        <th data-sort="int">Total Execution Time (μs)</th>
        <th data-sort="int">Tenant ID</th>
        <th data-sort="string">Contains First Step</th>
        <th data-sort="string">Contains Last Step</th>
      </tr>
    </thead>
    <tbody>
      {% for vector_stat in se_summary.vector_stats %}
      <tr>
        <td>{{ vector_stat.vector_id }}</td>
        <td>{{ vector_stat.call_id }}</td>
        <td>{{ vector_stat.number_of_steps }}</td>
        <td>{{ vector_stat.total_execution_time }}</td>
        <td>{{ vector_stat.tenant_id }}</td>
        <td>{{ "True" if vector_stat.contains_first_step else "False" }}</td>
        <td>{{ "True" if vector_stat.contains_last_step else "False" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="table-separator"></div>

  <h1><u>IXN Details</u></h1>
  
  <table id="detailedTable" class="display">
    <thead>
        <tr>
            <th>IXN ID</th>
            <th>Tenant ID</th>
            <th>No. of Agents</th>
            <th>No. of Duplicate Events</th>
            <th>Notify Dropout</th>
            <th>Supervisor ID (SO)</th>
            <th>Transfer Details</th>
            <th>Conference Details</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in sfs_summary.detailed_summary %}
        <tr>
            <td>{{ detail.ixn_id }}</td>
            <td>{{ detail.tenant_id }}</td>
            <td>{{ detail.no_of_agents }}</td>
            <td>{{ detail.duplicate_events }}</td>
            <td>{{ detail.notify_dropout }}</td>
            <td>{{ detail.so_supervisors }}</td>
            <td>{{ detail.transfer_details }}</td>
            <td>{{ detail.conference_details }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


  <div class="table-separator"></div>
  <h1><u>SFS - IM Events Details</u></h1>
  <table id="imEventsTable" class="display">
      <thead>
          <tr>
              <th>IXN ID</th>
              <th>Tenant ID</th>
              <th>IM - SFS Events</th>
              <th>Processing Time (ms)</th>
              <th>Agent IDs</th>
              <th>Trunk Ext.</th>
              <th>Supervisor ID</th>
          </tr>
      </thead>
      <tbody>
        {% for tenant_id, tenant_data in sfs_summary.summary_data.imEvents_data.items() %}
            {% for ixn_id, events in tenant_data.items() %}
                {% for event in events %}
                    <tr>
                        <td>{{ ixn_id }}</td>
                        <td>{{ tenant_id }}</td>
                        <td>{{ event.sending_event.event_name }}</td>
                        <td>
                            {% if event.processing_time != 99999999 %}
                                {{ "{:.3f}".format(event.processing_time) }}
                            {% else %}
                                Missing
                            {% endif %}
                        </td>
                        <td>
                            {% if tenant_id in sfs_summary.summary_data.agent_ids and ixn_id in sfs_summary.summary_data.agent_ids[tenant_id] %}
                                {{ sfs_summary.summary_data.agent_ids[tenant_id][ixn_id] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                          {% if tenant_id in sfs_summary.summary_data.trunk_ids and ixn_id in sfs_summary.summary_data.trunk_ids[tenant_id] %}
                              {{ sfs_summary.summary_data.trunk_ids[tenant_id][ixn_id] }}
                          {% else %}
                              N/A
                          {% endif %}
                      </td>
                      <td>
                        {% if tenant_id in sfs_summary.summary_data.supervisor_ids and ixn_id in sfs_summary.summary_data.supervisor_ids[tenant_id] %}
                            {{ sfs_summary.summary_data.supervisor_ids[tenant_id][ixn_id] }}
                        {% else %}
                            N/A
                        {% endif %}
                      </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  
  <div class="table-separator"></div>
  <h1><u>IM - SFS Events Details</u></h1>
  <table id="imsfsEventsTable" class="display">
      <thead>
          <tr>
              <th>IXN ID</th>
              <th>Tenant ID</th>
              <th>IM - SFS Events</th>
              <th>Processing Time (ms)</th>
              <th>Agent IDs</th>
              <th>Trunk Ext.</th>
              <th>Supervisor ID</th>
          </tr>
      </thead>
      <tbody>
        {% for tenant_id, tenant_data in im_summary.im_sfs_summary_data.sfsEvents_data.items() %}
            {% for ixn_id, events in tenant_data.items() %}
                {% for event in events %}
                    <tr>
                        <td>{{ ixn_id }}</td>
                        <td>{{ tenant_id }}</td>
                        <td>{{ event.receiving_event.event_name }}</td>
                        <td>
                            {% if event.processing_time != "Missing or Incorrect Sending Event" %}
                                {{ event.processing_time }}
                            {% else %}
                                Missing
                            {% endif %}
                        </td>
                        <td>
                            {% if tenant_id in im_summary.im_sfs_summary_data.agent_ids and ixn_id in im_summary.im_sfs_summary_data.agent_ids[tenant_id] %}
                                {{ im_summary.im_sfs_summary_data.agent_ids[tenant_id][ixn_id] }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                          {% if tenant_id in im_summary.im_sfs_summary_data.trunk_ids and ixn_id in im_summary.im_sfs_summary_data.trunk_ids[tenant_id] %}
                              {{ im_summary.im_sfs_summary_data.trunk_ids[tenant_id][ixn_id] }}
                          {% else %}
                              N/A
                          {% endif %}
                      </td>
                      <td>
                        {% if tenant_id in im_summary.im_sfs_summary_data.supervisor_ids and ixn_id in im_summary.im_sfs_summary_data.supervisor_ids[tenant_id] %}
                            {{ im_summary.im_sfs_summary_data.supervisor_ids[tenant_id][ixn_id] }}
                        {% else %}
                            N/A
                        {% endif %}
                      </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
  </table>

  <div class="table-separator"></div>
  
  <!-- Table for Event Occurrences -->
  <h1><u>AMS Events Occurrences</u></h1>
  <table id="eventOccurrencesTable" class="display">
      <thead>
          <tr>
              <th>Event Name</th>
              <th>Occurrences</th>
          </tr>
      </thead>
      <tbody>
          {% for event_name, occurrences in im_summary.im_ams_event_details.event_occurrences.items() %}
              <tr>
                  <td>{{ event_name }}</td>
                  <td>{{ occurrences }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

  <div class="table-separator"></div>

  <!-- Table for Paired Events -->
  <h1><u>AMS Events</u></h1>
  <table id="pairedEventsTable" class="display">
      <thead>
          <tr>
              <th>IXN ID</th>
              <th>Tenant ID</th>
              <th>Agent ID</th>
              <th>Station ID</th>
              <th>Event Name</th>
              <th>Processing Time (ms)</th>
          </tr>
      </thead>
      <tbody>
          {% for tenant_id, ixn_data in im_summary.im_ams_event_details.paired_events.items() %}
              {% for ixn_id, events in ixn_data.items() %}
                  {% for event in events %}
                      {% for event_name, event_data in event.items() %}
                          <tr>
                              <td>{{ ixn_id }}</td>
                              <td>{{ event_data.sending_event.header.tenant_id }}</td>
                              <td>{{ event_data.sending_event.agent_id }}</td>
                              <td>{{ event_data.sending_event.header.station_id }}</td>
                              <td>{{ event_name }}</td>
                              <td>{{ "{:.3f}".format(event_data.processing_time) }}</td>
                          </tr>
                      {% endfor %}
                  {% endfor %}
              {% endfor %}
          {% endfor %}
      </tbody>
  </table>

  <div class="table-separator"></div>



  <!-- Include DataTables for both tables -->
  <script>
    $(document).ready(function () {
      // Initialize DataTable for the summary table
      $('#summaryTable').DataTable();
      // Initialize DataTable for the detailed table
      $('#detailedTable').DataTable();
      $('#imEventsTable').DataTable();
      $('#improcessingTable').DataTable();
      $('#interactionTable').DataTable();
      $('#imsfsEventsTable').DataTable();
      $('#eventOccurrencesTable').DataTable();
      $('#imamsprocessingDetailsTable').DataTable();
      $('#pairedEventsTable').DataTable();
      $('#imsfsprocessingDetailsTable').DataTable();
      $('#imsfsEventsTable').DataTable();

      

      

      
    });
  </script>
</body>

</html>
